# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars

# Editor and IDE specific files
.vscode/
.idea/

# Compiled binaries
*.exe
*.dll
*.so
*.dylib

# Logs and temporary files
*.log
*.swp
*.swo
*.tmp

# Mac-specific files
.DS_Store
.AppleDouble
